
/* Add Border Box to all elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --hero-and-footer-bgcolor: #1F2937;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

body {  
    margin: 0;
}

header {
    background-color: var(--hero-and-footer-bgcolor);
    padding: 1em 6em 3em 6em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.links li a, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-splash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    background-color: #1F2937;
    padding: 2em 6em;
}

/* .hero-splash {
    display: flex;
    padding: 2em 6em;
    background-color: #1F2937;
    gap: 2em;
} */

.hero-splash h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#signup-button {
    padding: 1em;
    background-color: #3882F6;
    border-radius: 8px;
    /* border-width: thin; */
    /* border-style: groove; */
    color: white;
    text-align: center; 
    font-weight: bold;   
    font-size: larger;
}

#signup-button:hover {
    color: #3882F6;
    background-color: white;
    padding: 1em;
    font-weight: bold;
    border-radius: 8px;
    /* border-width: thin; */
    /* border-style: groove; */
    border-color: #3882F6;
    text-align: center;
}

/* button {
    width: 100px;
    padding: 1em;
    border: 0;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
} */

.hero-image figure {
    margin: 0;
    padding: 0;
    width: 70%;
    /* width: 80%; */
}

.hero-image figure img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.site-information {
    padding: 2em 4em;
}

.famous-quote {
    padding: 2em 4em;
}

.image-carousel {
    display: flex;
    gap: 2em;
}

.image-carousel figure {
    margin: 0;
}

.image-carousel figure img {
    max-width: 100%;
    border-radius: 8px;
    margin: 0;
}

.image-carousel figcaption {
    padding: 0.5em;
}

.famous-quote {
    background-color: #E5E7EB;
}

.famous-quote figure {
    margin: 0;
    padding: 1em;
}

.famous-quote p {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    padding: 1em;
    margin: 0;
}

figcaption a {
    color: #1F2937;
}

.famous-quote blockquote {
    padding: 1em;
    margin: 0;
}

.famous-quote figcaption {
    text-align: right;
}

figcaption {
    text-align: center;
}

.call-to-action {
    padding: 4em 6em;
}

.signup {
    display: flex;
    background-color: #3882F6;
    color: white;   
    padding: 4em 4em; 
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.signup h3 {
    margin: 0;
}

.signup p {
    margin: 0;
}

/* .signup-button button {
    font-weight: bold;
    border-radius: 8px;
    border-color: white;
    border-width: medium;
    border-style: groove;
} */

#odin-signup-button {
    display: flex;
    padding: 1em;
    font-weight: bold;
    border-radius: 8px;
    border-width: medium;
    border-style: groove;
    border-color: white;
    /* Border shorthand: width style color */
    /* border: medium groove white */
}

#odin-signup-button:hover {
    color: #3882F6;
    background-color: white;
    padding: 1em;
    font-weight: bold;
    border-radius: 8px;
    border-width: medium;
    border-style: groove;
    border-color: #3882F6;
}

/* #odin-signup-button a {
    font-weight: bold;
    border-radius: 8px;
    border-width: medium;
    border-style: groove;
    border-color: white;
} */

footer {
    background-color: var(--hero-and-footer-bgcolor);
    text-align: center;
    color: white;
    padding: 2em;
}

@media (max-width: 415px) {
    header {
        background-color: var(--hero-and-footer-bgcolor);
        padding: 1em 3em 2em 3em;
    }
}

@media (max-width: 750px) {
    .hero-splash {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        background-color: #1F2937;
        padding: 2em 6em;
    }
}

@media (max-width: 850px) {
    .image-carousel {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .signup {
        flex-direction: column;
        gap: 2em;
    }
}